/*  ==========================================
    Einstieg in HTML und CSS  
    Stylesheet für die Übungswebsite 

    navi-flex.css  
    wird in style.css per @import eingebunden  

    Stylesheet zur Gestaltung der Site-Navigation
    - basiert auf display: flex 
    - Gestaltung von außen nach innen: 
      1. Der Navigationsbereich .site-nav
      2. Die Navigationsliste ul und li 
      3. Die Links in der Navigation  
      4. Der aktuelle Menüpunkt 

    ======================================= */

    /* 1. Navigationsbereich gestalten */
    .site-nav { 
        position: sticky; 
        top: 0; 

        background: var(--grey-very-dark); 
        color: white; 

        box-shadow: 0 2px 6px rgb(51, 51, 51, 0.3); 

        margin-bottom: 2rem; 
    }

    .site-nav .inside {
        padding: 0 1rem; 
    }

    /* 2. Navigationsliste als Flex-Container, ohne Marker und ohne Abstände */
    .site-nav ul {
        display: flex;
        flex-flow: row;

        list-style: none; 

        padding: 0; 
        margin: 0; 
    }

    /* Listenelemente gleich breit, Text zentriert und helle Rahmenlinie */
    .site-nav li {
        flex: 1; 
        max-width: 10rem; 
        border-left: 1px solid var(--grey-light); 
    }
    .site-nav li:last-child { 
        border-right: 1px solid var(--grey-light); 
    }

    /* 3. Navigationslinks gestalten */
    .site-nav a {
        display: block;
        
        background: var(--grey-very-dark); 
        color: var(--color-base-light); 
        
        text-align: center;
        text-decoration: none; 
        
        padding: 0.5rem 1rem; 
    }

    /* Hover und Focus gestalten */
    .site-nav a:hover, .site-nav a:focus {
        background: var(--color-primary); 
        color: var(--color-light); 
    }

    /* Im Moment der Aktivierung */
    .site-nav a:active {
        background: var(--color-accent-active); 
        color: var(--color-base-light); 
    }

    /* 4. Aktueller Menüpunkt (Gestaltung der Unterstreichung in basis.css) */
    .current a {
        background: var(--color-primary); 
        color: var(--color-base-light); 

        text-decoration: underline; 
    }


/** 
  * Ende navi-flex.css 
  */ 