/*  ==========================================
    Webtechniken lernen 3: CSS-Layouts   
    Stylesheet für die Übungswebsite 

    print.css  
    wird in style.css per @import eingebunden  

    Stylesheet für eine sehr einfache Druckversion

    ======================================= */

@media print {

    * { box-shadow: none !important; text-shadow: none !important; }

    html {
        background: white; 
        color: black; 
    }

    .site-nav, 
    .site-footer {
        display: none; 
    }

    .infobox, .kundenstimme { 
        border: none; 
        border-top: 1pt solid var(--color-primary-light); 
    }

} /* Ende @media */


  /** 
    * Ende print.css 
    */ 